/****************Tag Selectors****************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Montserrat";
}

h1 {
  color: #71C9CE;
  margin: 50px auto 0 auto;
  font-family: "Great Vibes";
  font-size: 7rem;
}

h2 {
  color: #71C9CE;
  font-family: "Ubuntu";
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  color: #A6E3E9;
  font-family: "Ubuntu";
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 2;
}

hr {
  color: lavender;
  width: 5%;
  border-style: dotted none none;
  border-width: 8px;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px 130px;
}

/****************Class Selectors****************/
.top-container {
  background-color: #E6F4F5;
  padding-top: 100px;
  position: relative;

}

.mountain {
  width: 700px;
  height: 360px;
  padding-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 80px;
  width: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 50px;
  bottom: 300px;
  width: 20%;
}

.intro {
  width: 50%;
  margin: auto;
}

.middle-container {
  margin-top: 80px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.html {
  width: 30%;
  float: left;
  margin-left: 30px;
}

.css {
  width: 30%;
  float: right;
  margin-right: 30px;
}

.bootstrap {
  width: 30%;
  float: left;
  margin-left: 30px;
  border-radius: 0px;
}

.javascript {
  width: 30%;
  float: right;
  margin-right: 30px;
}

.contact-message {
  width: 80%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: image(top, #11cdd4, #11999e,);
  border-radius: 8px;
  font-family: "Arial";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: image(top, #30e3cb, #2bc4ad);
  text-decoration: underline;
}


.bottom-container {
  background-color: #71C9CE;
  padding: 30px 0px 10px;
}

.footer {
  color: #fff;
  padding-top: 1rem;
  font-size: 1rem;
}
